.about__us {
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: center;
  background: whitesmoke;
}
.about__us .about__us__line {
  position: absolute;
  top: 50%;
  left: 0;
  height: calc(100% - 4rem);
  background: var(--dark);
  transform: translateY(-50%);
}

.about__us .about__us__container {
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
}

.about__us .about__us__container .about__us__content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  max-width: 650px;
}

.about__us h2 {
  color: var(--dark);
}
