.home__services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  padding: 2rem;
  background: url("../../assets/services.jpeg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

@supports (-webkit-touch-callout: none) {
  .home__services {
    background: url("../../assets/services.jpeg") center center no-repeat scroll;
    background-size: auto auto;
  }
}

.home__services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--opacity-dark);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.home__services .home__services__container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home__services .home__services__container > h2 {
  position: relative;
  text-transform: uppercase;
  z-index: 2;
  color: var(--white);
  margin-bottom: 2rem;
  width: 100%;
}

.home__services .home__services__container .line {
  position: absolute;
  bottom: -10px;
  left: 0;
  background: var(--white);
  width: calc(50% - 1rem);
  height: 5px;
  border-radius: 2px;
}

.home__services .home__services__container .home__services_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.home__services .home__services__container .home__services_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
  grid-template-columns: 1fr 200px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  height: 250px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #a7adb086;
}

.home__services .home__services_item_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 2rem;
}

.home__services .home__services_item_content h2 {
  text-transform: uppercase;
  color: var(--white);
}

.home__services .home__services_item_content p {
  color: var(--white);
}

.home__services .home__services_item_icon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home__services .home__services_item:nth-child(3) {
  background-color: var(--light);
}
.home__services .home__services_item:nth-child(2) {
  background-color: var(--light-blue);
}

.home__services .home__services_item:nth-child(2) p,
.home__services .home__services_item:nth-child(3) p {
  color: var(--dark);
}
.home__services .home__services_item:nth-child(3) h2,
.home__services .home__services_item:nth-child(2) h2 {
  color: var(--medium-dark);
}

@media (max-width: 1150px) {
  .home__services .home__services__container {
    padding: 0;
  }
}
@media (max-width: 1100px) {
  .home__services .home__services__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .home__services .home__services__container > h2 {
    max-width: 800px;
    width: 100%;
  }
  .home__services .home__services__container .home__services_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .home__services .home__services__container .home__services_item {
    max-width: 800px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .home__services {
    padding: 1rem;
  }
  .home__services .home__services__container .home__services_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
  }

  .home__services .home__services_item_icon {
    height: 200px;
    padding: 0.5rem;
  }
  .home__services .home__services_item_icon > div {
    height: 200px;
  }
  .home__services .home__services_item_content {
    padding: 1rem;
    padding-bottom: 2rem;
  }

  .home__services .home__services_item_content h2,
  .home__services .home__services_item_content p {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .home__services .home__services__container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .home__services .home__services_item_icon {
    height: 100px;
  }
  .home__services .home__services_item_icon > div {
    height: 100px;
  }

  .home__services .home__services__container .home__services_items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .home__services .home__services_item_content {
    padding: 1rem;
    height: auto;
  }

  .home__services .home__services_item_content h2 {
    height: 100px;
    word-break: break-all;
  }

  .home__services .home__services_item_content p {
    height: auto;
  }
}
