.map {
  background: var(--darker);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map h2 {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding: 4rem;
  color: var(--white);
  text-align: center;
}

.map h2 span:first-child {
  position: absolute;
  width: 50px;
  height: 1.2rem;
  top: 50%;
  left: calc(50% - 10rem);
  background: var(--white);
  transform: translate(-50%, -50%);
}

.map h2 span:last-child {
  position: absolute;
  width: 50px;
  height: 1.2rem;
  top: 50%;
  right: calc(50% - 13rem);
  background: var(--white);
  transform: translate(-50%, -50%);
}

.map .map__container {
  width: 100%;
  height: 400px;
  background: aliceblue;
}

@media (max-width: 500px) {
  .map h2 {
    width: 100%;
    padding: 2rem 0;
    background: var(--white);
    color: var(--darker);
    margin: 2rem 0;
    overflow: hidden;
  }

  .map h2::before {
    content: "";
    display: none;
  }

  .map h2::after {
    content: "";
    display: none;
  }
}
