.footer {
  background: var(--dark);
  padding: 2rem;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid var(--white);
  overflow: hidden;
}

.footer > div {
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
}

.footer .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 2rem;
}

.footer .footer__top .footer__company h2 {
  text-transform: none;
}

.footer .footer__top .footer__company img {
  height: 90px;
}

.footer .footer__top .footer__company h2 span:first-child {
  color: #0292dc;
}

.footer .footer__top > div {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;
}

.footer .footer__top > div h2 {
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.footer .footer__top > div p {
  color: var(--white);
}

.footer .footer__top .footer__contact__social__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.footer .footer__top .footer__contact__social__network a {
  font-size: 1.5rem;
}

.footer .footer__top .footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;
}

.footer .footer__top .footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .footer__top .footer__link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
}

.footer .footer__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .footer__bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 30%;
  height: 1px;
  background: var(--white);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.footer .footer__bottom p {
  color: var(--white);
  text-align: center;
}

@media (max-width: 750px) {
  .footer .footer__top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer .footer__top h2,
  .footer .footer__top a,
  .footer .footer__top p {
    text-align: center;
  }

  .footer .footer__top .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .footer .footer__top .footer__link span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
  }

  .footer .footer__top .footer__contact__social__network {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0.5rem;
  }
}
