:root {
 --white:#fff;
 --dark:#474847;
 --darker: #202020;
 --opacity-dark: rgba(71, 72,71, 0.62);
 --opacity-blue: rgba(43, 57, 120, .48);
}



*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

p {
  font-size: .9rem;
}

a {
  font-size: .9rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}