:root {
  --white: #fff;
  --dark: #191919;
  --medium-dark: #313131;
  --darker: #191919;
  --opacity-dark: #19191962;
  --opacity: #19191923;
  --opacity-blue: #22283188;
  --light: #f0f5fb;
  --light-blue: #e7f3fe;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body html #root {
  overflow-x: hidden;
}

p {
  font-size: 0.9rem;
}

a {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
