.nav__desktop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px;
}

.nav__desktop__container .nav__desktop__logo h1 {
  font-weight: 700;
  color: var(--dark);
}

.nav__desktop__container .nav__desktop__logo img {
  width: 260px;
}

.nav__desktop__container .nav__desktop_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.nav__desktop__container .nav__desktop_link > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  width: 130px;
  text-align: center;
  line-height: 40px;
  border: 1px solid transparent;
  text-transform: uppercase;
  overflow: hidden;
}

.nav__desktop__container .nav__desktop_link > a span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 130px;
  height: 40px;
  -webkit-transition: linear 0.4s;
  -o-transition: linear 0.4s;
  transition: linear 0.4s;
}

.nav__desktop__container .nav__desktop_link > a::before {
  content: "";
  position: absolute;
  bottom: -40px;
  background: #2c2b2b86;
  width: 130px;
  height: 40px;
  border-radius: 75%;
  -webkit-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  transition: linear 0.5s;
}

.nav__desktop__container .nav__desktop_link > a:hover::before {
  content: "";
  position: absolute;
  border-radius: 0;
  bottom: 0;
}

.nav__desktop__container .nav__desktop_link > a.selected {
  background-color: var(--dark);
}

.nav__desktop__container .nav__desktop__media__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.25rem;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
}

.nav__desktop__container .nav__desktop__media__social a {
  -webkit-transition: linear 0.1s;
  -o-transition: linear 0.1s;
  transition: linear 0.1s;
}

.nav__desktop__container .nav__desktop__media__social a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@media (max-width: 950px) {
  .nav__desktop__container .nav__desktop__logo img {
    width: 230px;
  }
}
@media (max-width: 860px) {
  .nav__desktop__container .nav__desktop__logo img {
    width: 190px;
  }

  .nav__desktop__container .nav__desktop_link > a span {
    font-size: 0.8rem;
  }
}
